@import url();
* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: rgb(233, 232, 229);
}
.container {
  width: 850px;
  background: #fff;
  border-radius: 10px;
  padding: 30px 35px 35px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.container h2 {
  font-size: 22px;
  font-weight: 500;
}
.container .wrapper {
  display: flex;
  margin: 20px 0;
  min-height: 335px;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
}
.container.disable:where(.editor-panel, .reset-filter, .save-img) {
  opacity: 0.6;
  pointer-events: none;
}
.wrapper .editor-panel {
  width: 280px;
  padding: 15px 20px;
  border: 1px solid rgb(233, 232, 229);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.editor-panel .title {
  display: block;
  font-size: 16px;
  margin-bottom: 12px;
}
.editor-panel .options,
.controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.editor-panel button {
  height: 40px;
  font-size: 14px;
  color: #6c757d;
  cursor: pointer;
  margin-bottom: 8px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #aaa;
}
.editor-panel button:hover {
  background: #f5f5f5;
}
.editor-panel .filter button {
  width: calc(100% / 2 - 4px);
}
.filter button.active {
  color: #fff;
  background: #5372f0;
  background-color: #5372f0;
}
.filter .slider {
  margin-top: 12px;
}
.filter .slider .filter-info {
  display: flex;
  color: #464646;
  font-size: 14px;
  justify-content: space-between;
}
.filter .slider input {
  width: 100%;
  height: 5px;
  accent-color: #5372f0;
}
.editor-panel .rotate {
  margin-top: 17px;
}
.editor-panel .rotate button {
  width: calc(100% / 4 - 3px);
}
.rotate button:nth-child(3),
.rotate button:nth-child(4) {
  font-size: 18px;
}
.wrapper .preview-img {
  flex-grow: 1;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}
.preview-img img {
  max-height: 490px;
  max-height: 335px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.controls button {
  padding: 11px 20px;
  font-size: 14px;
  cursor: pointer;
  color: #fff;
  background: #fff;
  border-radius: 5px;
  text-transform: uppercase;
}
.controls .reset-filter {
  color: #6c757d;
  border: 1px solid #6c757d;
}

.controls .choose-img {
  background: #6c757d;
  border: 1px solid #6c757d;
}
.save-img:checked {
  color: darkblue;
}
.controls .save-img {
  background: #5372f0;
  border: 1px solid #535353;
  margin-left: 5px;
}

@media screen and (max-width: 760px) {
  .container {
    padding: 25px;
  }
  .container .wrapper {
    flex-wrap: wrap-reverse;
  }
  .wrapper .editor-panel {
    width: 100%;
  }
  .wrapper .preview-img {
    width: 100%;
    margin: 0 0 15px;
  }
}
@media screen and (max-width: 500px) {
  .controls button {
    width: 100%;
    margin-bottom: 10px;
  }
  .controls .row {
    width: 100%;
  }
  .controls .row .save-img {
    margin-left: 0px;
  }
}
